.bar {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    /* height: 300px; */
    height: 200px;
    width: 2px;
    pointer-events: none;
}

.label, .text {
    font-family: Helvetica, sans-serif;
    position: absolute;
    width: 450px;
    pointer-events: none;
    color: #fff
}

.label {
    left: 15px;
    top: -25px;
}

.text {
    top: 20px;
    left: 15px;
}